:root {
  --bg-color: #991028;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  height: 30vh;
  width: 35vw;
  background-color: white;
  color: var(--bg-color);

  display: flex;
  justify-content: space-around;
  align-items: center;
}
